<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Cook - Home'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
	<!-- Barra -->
	<%- include('partials/barra') %>
	<!-- /Barra -->
			</div>

			<div class="col-9">
				<div class="headerLiq">
					<p class="titCrearPay">Agregar Empleados a la Liquidacion N° <%= liquidaciones[0].id %> <%= liquidaciones[0].desc_liq %></p>

                    <ul>
                        <a href="#"><li>Vemos 1</li></a>
                        <a href="#"><li>Vemos 2</li></a>
                        <a href="#"><li>Vemos 3</li></a>
                        <a href="#"><li>Vemos 4</li></a>
                        <a href="#"><li>Vemos 5</li></a>
                        <a href="/payroll/process"><li>Volver a Liquidaciones</li></a>
                        
                    </ul>
                    
				</div>
				<div class="">
					<form action="/payroll/nroLiquidacion/edit/:id/addEmple?_method=PUT" method="POST">
						<div class="form-group">
						<div class="formCrearLiq">
						<label for='legajo'>Num. Legajo</label>
                        <input type="text" name="legajo" id="legajo" placeholder="Numero de Legajo">
                        <a href="">Agregar Legajo</a>
                        </div>
                        <div class="formCrearLiq">
						<label for="empresa">Empresa</label>
						<select class="" name="empresa" id="empresa">
                            
                            <% for (let i=0; i < Empresa.length; i++) { %>
                                <option value="<%= Empresa[i] %>"><%= Empresa[i] %></option>
                            <% } %>

                        </select>
						</div>
						<div class="formCrearLiq">
						<label for="convenio">Convenio</label>
						<select class="" name="convenio" id="convenio">
                            
                            <% for(let i=0; i < Convenio.length; i++) { %>
                            <option value="<%= Convenio[i] %>"><%= Convenio[i] %></option>
                            <% } %> 
                        
                        </select>
						</div>
						<div class="formCrearLiq">
						<label for="otro1">Otro Dato 1</label>
						<select class="" name="otro1" id="otro1" disabled>
                            <option value="otro1">Otro Dato 1</option>
                            
                         
						</select>
						</div>
						
						<div class="formCrearLiq">
							<label for="idLiq"><%= liquidaciones[0].id %></label>
							<input type="text" id="idLiq" name="idLiq" value="<%= liquidaciones[0].id %>">
							
							</div>
						</div>		
						<button type="submit" class="botonLiq">Agregar Empleados</button>
					
                    </form>
                    

				</div>
			</div>

			


		</div>

	</div>
	
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>