<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Cook - Home'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
	<!-- Barra -->
	<%- include('partials/barra') %>
	<!-- /Barra -->
			</div>

			<div class="col-9">
				<div class="headerLiq">
					<p class="titPay">Proceso de Liquidación</p>

					<ul>
						<a href="/payroll/nroLiquidacion/liquidar/<%= liquidaciones[0].id %>/ejecutar"><li>Ejecutar Liquidación</li></a>
						<a href="/payroll/nroLiquidacion/<%= liquidaciones[0].id %>"><li>Volver a Detalle</li></a>
					</ul>
				</div>
				
				<div class="grid">
					<p class="titulo" >ID de Liq</p>
					<p class="titulo" >Descrip. Liquidación</p>
					<p class="titulo" >Legajo</p>
					<p class="titulo" >Estado</p>
					<p class="titulo" >Periodo</p>
					<p class="titulo" >Adic1</p>
					<!-- /Lista -->
					<% for(let i=0; i < legaLiquidaciones.length; i++) { %>
					
					<a href=""><p><%= legaLiquidaciones[i].id_liq %></p></a>
					<a href=""><p><%= liquidaciones[0].desc_liq %></p></a>
					<a href=""><p><%= legaLiquidaciones[i].legajos %></p></a>
					<a href=""><p><%= legaLiquidaciones[i].estado %></p></a>
					<a href=""><p><%= legaLiquidaciones[i].periodo %></p></a>
					<% if(legaLiquidaciones[i].estado == 'liq') { %>
					<a href="/payroll/nroliquidacion/liquidar/<%= legaLiquidaciones[i].id_liq %>/<%= legaLiquidaciones[i].legajos %>"><p>Ver Liq</p></a>
					<% } else { %>
					<a href=""><p>xxx</p></a>	 
					<% } %>
					<% } %>
					
				</div>
                
			</div>

		</div>
	</div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>