<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Cook - Home'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
	<!-- Barra -->
	<%- include('partials/barra') %>
	<!-- /Barra -->
			</div>

			<div class="col-9">
				<div class="headerLiq">
					<p class="titPay">Configuración de Conceptos</p>

					<ul>
						<a href="/config/conceptos/add"><li>Crear Concepto</li></a>
						
					</ul>
				</div>
				
				<div class="grid">
					<p class="titulo" >Cod.Concep</p>
					<p class="titulo" >Nombre Concepto</p>
					<p class="titulo" >Tipo</p>
					<p class="titulo" >Modo</p>
					<p class="titulo" >Algoritmo</p>
					<p class="titulo" >Adic1</p>
					<!-- /Lista -->
					<% for(let i=0; i < conceptos.length; i++) { %>
					
					<a href="/config/conceptos/edit/<%= conceptos[i].codConcepto %>"><p><%= conceptos[i].codConcepto %></p></a>
					<a href=""><p><%= conceptos[i].descConcepto %></p></a>
					<a href=""><p><%= conceptos[i].tipo %></p></a>
					<a href=""><p><%= conceptos[i].modo %></p></a>
					<a href=""><p><%= conceptos[i].codAlgoritmo %></p></a>
					<a href=""><p>xx</p></a>
					<% } %>
					
				</div>


			</div>

		</div>
	</div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>