<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Cook - Home'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
	<!-- Barra -->
	<%- include('partials/barra') %>
	<!-- /Barra -->
			</div>

			<div class="col-9">
				
				<div class="grid">
					<p class="titulo" >Legajo</p>
					<p class="titulo" >Apellido y Nombre</p>
					<p class="titulo" >Metodo de Pago</p>
					<p class="titulo" >CBU</p>
					<p class="titulo" >Nro Posición</p>
					<p class="titulo" >Grupo Pago</p>
					<!-- /Lista -->
					<% for(let i=0; i<empleados.length; i++) { %>
					
					<a href="/empleado/<%= empleados[i].legajo_id %>"><p><%= empleados[i].legajo_id %></p></a>
					<a href=""><p><%= empleados[i].apellidos %> <%= empleados[i].nombres %></p></a>
					<a href=""><p><%= empleados[i].metodo_pago %></p></a>
					<a href=""><p><%= empleados[i].cbu %></p></a>
					<a href=""><p><%= empleados[i].posicion_id %></p></a>
					<a href=""><p><%= empleados[i].grupo_pago_id %></p></a>
					<% } %>
					
				</div>


			</div>

		</div>
	</div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>