<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Ingreso'}) %>
<body>
    
    <div class="contenedor">
        <form action="/" method="POST">
            <img src="./images/rrhh.jpg" alt="">
            <br>
            <input type="email" placeholder="Correo Electrónico" name="email" value="<%= (typeof email != "undefined") ? email : '' %>">
            <small><%= (typeof errores != "undefined" && errores.email) ? errores.email.msg : '' %></small>
            <input type="password" name="pass" placeholder="Contraseña">
            <small><%= (typeof errores != "undefined" && errores.pass) ? errores.pass.msg : '' %></small>
            <small><%= (typeof errores2 != "undefined") ? errores2 : '' %></small><br>
            <button type="submit">Ingresar  <i class="fas fa-sign-in-alt"></i></button><br>
            <a href="/registro"><button type="button">Registrarme  <i class="fas fa-user-plus"></i></button></a><br>
            <div class="recordar">
            <input type="checkbox" name='recordar'>
            <label for="recordar">Recordar cuenta</label>
            <a class="olvido" href="">Olvidé mi contraseña</a>
            </div>
        </form>
    </div>
</body>
</html>