<table class="">
    <h6>Recursos Humanos</h6>
    <tr id="butaca">
        <td class="columnas"></td>
        <td class="columnas">1</td>
        <td class="columnas"></td>
        <td class="columnas">2</td>
        <td class="columnas">3</td>
        <td class="columnas"></td>
        <td class="columnas">4</td>
        <td class="columnas">5</td>
        <td class="columnas"></td>
        <td class="columnas">6</td>
    </tr>
    <tr>
        <td class="filas">A</td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[0].id %>" src="/images/desk/<%= escritorios[0].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[1].id %>" src="/images/desk/<%= escritorios[1].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[2].id %>" src="/images/desk/<%= escritorios[2].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[3].id %>" src="/images/desk/<%= escritorios[3].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[4].id %>" src="/images/desk/<%= escritorios[4].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_no.png" /></td>
        
    </tr>
    <tr>
        <td class="filas">B</td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[5].id %>" src="/images/desk/<%= escritorios[5].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[6].id %>" src="/images/desk/<%= escritorios[6].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[7].id %>" src="/images/desk/<%= escritorios[7].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[8].id %>" src="/images/desk/<%= escritorios[8].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[9].id %>" src="/images/desk/<%= escritorios[9].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/impresora.png" /></td>
        
    </tr>
    <tr>
        <td class="filas">C</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[10].id %>" src="/images/desk/<%= escritorios[10].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[11].id %>" src="/images/desk/<%= escritorios[11].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[12].id %>" src="/images/desk/<%= escritorios[12].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[13].id %>" src="/images/desk/<%= escritorios[13].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[14].id %>" src="/images/desk/<%= escritorios[14].status_id %>.png"/></td>
        
    </tr>
    <tr>
        <td class="filas">D</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[15].id %>" src="/images/desk/<%= escritorios[15].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[16].id %>" src="/images/desk/<%= escritorios[16].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/desk/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[17].id %>" src="/images/desk/<%= escritorios[17].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[18].id %>" src="/images/desk/<%= escritorios[18].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[19].id %>" src="/images/desk/<%= escritorios[19].status_id %>.png"/></td>
        
    </tr>
    <tr>
        <td class="filas">E</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[20].id %>" src="/images/desk/<%= escritorios[20].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[21].id %>" src="/images/desk/<%= escritorios[21].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[22].id %>" src="/images/desk/<%= escritorios[22].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[23].id %>" src="/images/desk/<%= escritorios[24].status_id %>.png"/></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="<%= escritorios[24].id %>" src="/images/desk/<%= escritorios[24].status_id %>.png"/></td>
        
    </tr>
    <tr>
        <td class="filas">F</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        
    </tr>
    <tr>
        <td class="filas">G</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/impresora.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/impresora.png" /></td>
        
    </tr>
    <tr>
        <td class="filas">H</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        
    </tr>
    <tr>
        <td class="filas">I</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        
    </tr>
    <tr>
        <td class="filas">J</td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/pasillo.png" /></td>
        <td class="filas">
            <img id="imagenes" alt="" src="/images/escritorio_verde.png" /></td>
        
    </tr>
</table>
